.Day {
  display: flex;

  --exercies-with: 200px;
}

.Day .exercises {
  width: var(--exercies-with);
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 0px 0px 2px 0px rgba(0, 0, 0, 0.14), 0px 0px 1px -2px rgba(0, 0, 0, 0.12);

}

.Day .sets {
  flex: 1;
  width: calc(100% - var(--exercies-with));
}

.Day .add-set {
}
