@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import '~typeface-roboto';

body, html, #root, body > div > div {
  height: 100%;
  padding: 0;
  margin: 0;
}

.App {
}

.App-header {
}

.App-title {
}

